{% extends 'base.html' %}


{% block title %}

Day Account Statements

{% endblock title %}


{% block content %}
<style>
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
    }
    .card {
        
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .card p {
        margin: 0;
        font-weight: 700;
        font-size:large;
    }
    .card h3 {
        margin-top: 0;
    }
    .crebtn {
    margin:10px;
    position: relative;
    float: right;
}
    </style>
<form method="post" action="{% url 'day-statement' %}">
    {% csrf_token %}
    <label for="date">Select Date:</label>
    <input type="date" id="date" name="date" required>
    <button type="submit" class="btn-primary">Submit</button>
</form>
<div class="crebtn">
    <button  class="btn-primary"><a href="{% url 'account-insert-create' %}" style="color:white;">Create statement</a> </button> 
 </div>
<h2 style="margin-top: 5%;">Account Statement for {{date}}</h2>

<div class="card-container">
    <div class="card">
        <h3>Opening Balance</h3>
        <p>{{ opening_balance }}</p>
    </div>
    <div class="card">
        <h3>Income</h3>
        <p>{{ day_income }}</p>
    </div>
    <div class="card">
        <h3>Expense</h3>
        <p>{{ day_expense }}</p>
    </div>
    <div class="card">
        <h3>Closing Balance</h3>
        <p>{{ closing_balance }}</p>
    </div>
</div>
<div class="table-responsive">

    <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
        <thead class="thead-light">
            <tr>
                <th>S.No</th>
                <th>Type</th>
                <th>Headings</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ account.Type }}</td>
                    <td>{{ account.Heading }}</td>
                    <td>{{ account.Description }}</td>
                    <td>{{ account.Amount }}</td>
                    <td><a href="{% url 'account-insert-delete' pk=account.id%}"><i class="fas fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>

</div>



{% endblock content %}
