{% extends 'base.html' %}

{% block scriptORstyle %}
<style>
  #id_book_name{
    display: flex;
    
    flex-wrap: wrap;
    padding-left: 0;
  }
  #id_book_name div{
    flex: 0 0 33.3333%;
  }
</style>
{% endblock scriptORstyle %}

{% block content %}
<h3>Add Book</h3>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
          {{ field.label }}
          {% for error in field.errors %}
            <small id="{{ field.auto_id }}" class="text-danger">{{ error }}</small>
          {% endfor %}
        </label>
        <div class="col-sm-9 checkbox-container">
          {{ field }}
          {% if field.help_text %}
          <small>{{ field.help_text|safe }}</small>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Add">
</form>
{% endblock content %}
